# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/mase_bc2/v17/Browse.VC.db
.vs/mase_bc2/v17/.suo
.vs/mase_bc2/FileContentIndex/read.lock
.vs/mase_bc2/FileContentIndex/417a8689-c82e-4f3a-bdfe-4091567adedc.vsidx
